secrets.yaml
entity_registry.yaml
known_devices.yaml
known_devices.yaml
pyozw.sqlite
OZW_Log.txt
.config_entries.json
.uuid
*.db*
*.log
*.conf
*.crt
*.key
*.pyc
*.xml
tts
__pycache__
.idea
.vscode
.storage
