homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home.latitude
  longitude: !secret home.longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home.elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret home.time_zone
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

system_health:

recorder:
  purge_keep_days: 5

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Community Store (works but slows down everything?)
hacs:
  token: 8951f9b15b92ce13fe0078d30722421b6c69ee7c

# Hue
hue:
  bridges: 
    - host: !secret hue.ipaddr
      allow_unreachable: true 
      allow_hue_groups: true

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

# Cameras:
#camera:
#  - platform: amcrest

# Discovery Auto
#ssdp:
#zeroconf: 

# Cloud
#cloud:

# Zave
zwave:
  usb_path: /dev/zwave
  network_key: !secret zwave.net_key
# Zigbee
zha:
  database_path: !secret zigbee.db

timer:
  stairs:
    duration: '00:05:00'

input_boolean:
  arlo_state:
    name: State of Arlo system
    initial: on

ffmpeg:

logger:
    default: info
#    logs:
#        pyaarlo: debug

# group: !include_dir_named groups
automation: !include_dir_list automations
script: !include scripts.yaml
